h1,h2 {
    color:rgb(252, 16, 16);
    text-align: left;
    margin-left: 50px;
}

p{
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-style:oblique;
    text-align:left;
    margin-left: 50px;
}
body,p {
    background-color: rgb(197, 229, 248);
}

img {
    width: 400px;
    height: 500px;
    margin: 400px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 25px;
}

body{
    margin: 80px;
    margin-left: 50px;
    border: 5px solid red;
    border-radius: 25px;
    
}
